
@media screen and (max-width:600px){
   
   .container{
    width: 80%;
    max-resolution: 0 auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 57%;
   }
   .nav-content{
    
   }
    .nav-content li{
        display:none;
    }
    .container .nav-content ul li img{
        display:block ;
    }
    .banner{
       margin: 20px auto;
    }
    form{
        flex-direction: column;
        min-height: 300px;
        justify-content: space-around;
        align-items: center;
    }
    
    .tours{
        max-width: 80%;
        margin: 20px auto;
        display: flex;
        flex-direction:column;
        gap: 20px;
        
    }
    .destination-container{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        border-radius: 8px;
        
    }
    .destination-container img{
        object-fit: cover;
    }
    .card-container{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
      }
      .newsletter-container{
        max-width: 80%;
        margin: 20px auto;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
      }
      .newsletter-pic{
        width: 80%;
       ;
      }
      .rotator{
        
    position: absolute;
    top: 70%;
    left: 20%;
      }
      .newsletter-content{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
      .tips-container{
        width: 80%;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
        gap: 10px; 
        height: auto;
      }
}
@media screen and (min-width:992px){
    .container .nav-content ul img{
        display: none;
    }
}
