
/* shared styles */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
 align-items: center;
 padding: auto;
 margin: auto;
}
/* styles for nav */
.container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-title{
    width: 40%;
    display: flex;
    
    align-items: center;
    gap: 10px;
    
}
.title{
    color: #131318;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.special{
    color: #FF5400;
font-size: 25px;
font-style: normal;
font-weight: 800;

}
.nav-content{
    width: 40%;
}
.container .nav-content li{
list-style:none ;
}
.container .nav-content li a{
    text-decoration: none;
    color: #424247;
text-align: center;

font-size: 15px;
font-style: normal;
font-weight: 400;

}
#a-special{
    font-weight: 700;
    color: #FF5400;
    font-size: 15px;
}
.container .nav-content ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height: 100px;
    
}

/* styles for banner */
.banner{
   
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto ;
    min-height: 500px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png)
    
}
.banner-title{
    color: #FFF;

font-family: Mulish;
font-size: 34px;
font-style: normal;
font-weight: 800;
}
.banner-description{
    color: #FFF;

text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
form{
    max-width: 60%;
    min-width:60% ;
    border-radius: 16px;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    padding: 5px;
}
.banner-p{
    color: rgba(19, 19, 24, 0.50);

    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;  
    border-radius: 8px;
background: #FFF;
width: 120px;
height: 30px;
border-radius: 8px;
padding: 5px;
}
select{
    color: rgba(19, 19, 24, 0.50);
    border: none;
   
}
form input{
    width: 120px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding: 5px;
}
.btn-1{
    color: #FFF;

text-align: center;
;
font-size: 14px;
font-style: normal;
font-weight: 700;
border-radius: 8px;
background: #FF5400;
text-decoration: none;
display: flex;
flex-direction: row;

align-items: center;
width: 120px;
height: 30px;
border: none;
}
/* styles for main section */
.tours{
    max-width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.tour-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tour-title{
    color: #131318;

font-size: 30px;
font-style: normal;
font-weight: 800;
margin-bottom: 20px;
}
.tour-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 12px;
font-style: normal;
font-weight: 400;
margin-bottom: 20px;
}
.tour-content ul li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
.btn-tour{
    text-align: center;
    padding-left: 25px;
}
.tours img{
    height: 400px;
}
.destination{
    max-width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.destination-container div{
    position: relative;
}
.destination-p{
    position:absolute ;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 20px;
    transform: translate(-50%, -50%);
    font-weight: 700;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
     
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);

text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
.destination-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
   
}

  .choose-container{
    margin: 20px auto;
    max-width: 80%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .choose-card{
    width: 45%;
    margin: 10px;
    min-height: 250px;
    padding: 30px 40px 30px 30px;
    
  }
  .card-1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);

background: rgba(251, 181, 99, 0.05);
  }
  .card-2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05);
  }
  .card-3{
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);

background: rgba(233, 68, 68, 0.05);
  }
  .newsletter-container{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
 .newsletter-title{
    color: #131318;
font-size: 20px;
font-style: normal;
font-weight: 800;

 }
 .newsletter-description{
    color: #5A5A5D;
font-size: 12px;
font-style: normal;
font-weight: 400;
 }
  .newsletter-content{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    gap: 10px;
  }
  .newsletter-content input{
    width: 250px;
height: 40px;
color: rgba(19, 19, 24, 0.30);

font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);

  }
  .btn-2{
    width: 250px;
height: 40px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
border: none;
text-align: center;
font-family: Mulish;
font-size: 15px;
font-style: normal;
font-weight: 800;

  }
  .newsletter-pic{
    width: 60%;
    min-height: 400px;

    background-image: url(../Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    position: relative;
  }
  .rotator{
    padding-top: 20px;
    text-align: center;
    align-items: center;
    color: #FFF;
    border-radius: 16px;
background: #FF5400;
width: 50%;
height: 20%;
transform: rotate(-19.628deg);
position: absolute;
top: 65%;
left: 45%;
  }
  #rotator-p-1{
    font-size: 15px;
  }
  #rotator-p-2{
    font-size: 25px;
  }
  .tips .tips-container div{
    width: 100px;
    height: 150px; 
   
  } 
  .tips .tips-container div img{
    width: 100%;
    object-fit: cover;
  }
  .tips{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    min-height: 300px;
    gap: 20px;
  }
  .tips-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 500px;
  }
  .tips .tips-container div a{
    text-decoration: none;
    color: #131318;
    font-weight: 700;
    font-size: 20px;
  }
  /* styles for footer */
  .footer-container{
    margin: 20px auto;
    min-height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
  }
  .footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }
  .footer-special{
    color: #FF5400;

font-size: 25px;
font-style: normal;
font-weight: 800;
  }
  .footer-description{
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
  }
  .copyright{
   
    color: #5A5A5D;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 300;
  }
  .line{
    width: 70%;
  }